.post-loop {
  padding-left: 0;
  li {
    list-style: none;
  }
  h2 {
    a {
      text-decoration: none;
    }
  }
}

.item-head {
  margin-bottom: 15px;
}

.item {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: dotted 1px rgba($textColor, .2);
  @media screen and (max-width: $break) {
    margin: 15px 0;
    padding-bottom: 0;
  }
}

.pagination {
  margin-top: auto;
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  a, span {
    padding: 5px 10px;
  }
  span:first-child {
    padding-left: 0;
  }
  span:last-child {
    padding-right: 0;
  }
}

.paginator-active {
  background: $accent;
  color: $base;
}