.post-loop {
  padding-left: 0;
  li {
    list-style: none;
  }
  h2 {
    a {
      text-decoration: none;
    }
  }
}

.item-head {
  margin-bottom: 15px;
}

.item {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: dotted 1px rgba($textColor, .2);
  @media screen and (max-width: $break) {
    margin: 15px 0;
    padding-bottom: 0;
  }
}

.tag-cloud {
  margin-right: 50px;
  margin-top: 10px;
  a {
    display: block;
    margin-top: 3px;
  }
  h3 {
    font-size: 1.5rem;
  }
}
