header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  ul {
    list-style: none;
    padding-left: 0;
    margin-right: 50px;
    -webkit-overflow-scrolling: touch;
  li {
    display: inline-block;
    margin: 0 10px;
    white-space: nowrap; 
  }
}

.title {
  margin: auto;
  margin-left: 50px;
  a {
    text-decoration: none;
    color: $textColor;
  }
  }
}

.active {
  position: relative;
  &:before {
    content: '‥';
    position: absolute;
    bottom: -15px;
    left: 45%;
  }
}