header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: $break) {
    justify-content: flex-start;
    margin-bottom: -20px;
    nav {
      overflow-y: hidden;
      overflow-x: auto;
      max-height: 50px;
      -webkit-overflow-scrolling: touch;
      border-bottom: 2px solid $tertiary;
      width: 100%;
    }
    a {
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-right: 50px;
    -webkit-overflow-scrolling: touch;
    @media screen and (max-width: $break) {
      margin-right: 0;
      overflow-x: auto;
      margin: 10px 0 0 40px;
      display: flex;
      overflow-x: auto;
      padding-bottom: 30px;
    }
    @media screen and (max-width: $break) {
      margin-left: 10px;
      margin-top: 5px;
    }
  li {
    display: inline-block;
    margin: 0 10px;
    white-space: nowrap; 
  }
}

.title {
  margin: auto;
  margin-left: 50px;
  @media screen and (max-width: $break) {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 120%;
  }
  a {
    text-decoration: none;
    color: $textColor;
  }
  }
}

.active {
  position: relative;
  &:before {
    content: '‥';
    position: absolute;
    bottom: -15px;
    left: 45%;
  }
}