.post-navigation {
  margin: 60px auto auto auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    margin: 10px 0;
    font-weight: 800;
    font-size: 1rem;
  }
}

.info {
  margin-bottom: 60px;
  margin-top: -45px;
  @media screen and (max-width: $break) {
    margin-bottom: 40px;
  }
}
