$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


//Palette

$base: #f5f2f2;
$textColor: #444;
$accent: #4845DF;
$tertiary: lighten($accent, 5%);

//Structure
$break: 500px;
